.content {
  position: relative;

  &__search {
    box-sizing: border-box;
    margin-top: 20px;

    padding-left: 50px;
    padding-right: 35px;

    position: absolute;
    width: 100%;

    z-index: 99;

    transition: transform .25s, opacity .25s;

    &--hidden {
      opacity: 0;
      pointer-events: none;
      transform: translateY(-100%);
    }
  }
}
