.tab {
  padding: 7px 47px;

  border-radius: var(--radius-main);
  border: none;

  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;

  color: var(--theme-text);
  background-color: transparent;

  cursor: pointer;


  &:hover {
    opacity: .7;
  }

  &--active {
    color: var(--color-white);
    background-color: var(--theme-main);
  }
}
