.dropdown {
  position: relative;

  &__button {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &__content {
    background-color: var(--theme-bg-contrast);
    box-shadow: var(--shadow-main);
    border-radius: 9px;
    position: absolute;
    bottom: -10px;
    left: 0;
    transform: translateY(100%);
    min-width: 156px;
    z-index: 10;

    &--right {
      left: auto;
      right: 0;
    }
  }
}

.drop-enter-active, .drop-leave-active {
  transition: opacity .3s, transform .3s;
}
.drop-enter, .drop-leave-to {
  opacity: 0;
  transform: translateY(105%);
}
