.main-layout {
  background-color: #FCFBFC;
  height: 100vh;

  display: grid;

  grid-template-columns: 356px 1fr 585px;
  grid-template-areas:
          'sidebar content detail';

  &__sidebar {
    grid-area: sidebar;
    overflow-y: auto;
  }

  &__content {
    grid-area: content;

    background-color: #fff;
  }

  &__detail {
    grid-area: detail;
  }
}

@media screen and (max-width: 1600px) {
  .main-layout {
    grid-template-columns: 1fr 2fr 2fr;
  }
}
