.left-menu-item {
  &__link {
    padding: 20px 0 20px 35px;
    text-decoration: none;
    color: inherit;
    display: block;
    font-size: 14px;
    display: flex;
    align-items: center;
    fill: #A09FA2;
    transition: background-color .25s, color .25s, fill .25s;

    &:hover,
    &--active {
      color: var(--theme-main);
      background: rgba(0, 118, 246, 0.05);
      fill: var(--theme-main);
    }
  }

  &__icon {
    margin-right: 13px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
